.searchBar {
  display: flex;
  justify-content: start;
  position: relative;
  height: 3rem;
  margin-top: -1rem;
  margin-left: 3rem;
  margin-bottom: 2rem;
}

.input {
  font-size: 20px;
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-color: #070000;
  padding: 0.2rem 0;
  outline: none;
  background-color: transparent;
  color: #0d0c22;
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.input:focus,
input:hover {
  outline: none;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  border-color: #000000;
}

.input::placeholder {
  color: #040303;
}

.input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}
.btn {
  --btn-color: rgb(201, 218, 218);
  --enhanced-glow-color: rgb(15, 15, 236);
  --glow-color: rgba(247, 5, 5, 0.899);
  border: 0.25em solid var(--glow-color);
  padding: 0.5em 1em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

.btn::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.btn:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

.btn:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}
