.difuminado {
  width: 100vw;
  height: 100vh;
  background-image: url(fondo1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-image: url("fondo2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: none;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 1fr;
}

.LandingPage {
  color: red;
}

.text {
  margin-top: 9rem;
  margin-left: 3rem;
  color: white;
  font-size: 1.3rem;
  font-family: "Times New Roman", Times, serif;
}

.link {
  --primary-color: #de8745;
  --secondary-color: #968282;
  --hover-color: #e39191;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  color: black;
  font-size: 1rem;
}

.link .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.link .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.link:hover {
  background-color: var(--hover-color);
}

.link:hover .arrow {
  background: var(--secondary-color);
}

.link:hover .arrow:before {
  right: 0;
}

a {
  text-decoration: none;
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: 1rem;
}
